.button {
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

.primary {
  background-color: #1b4978; // blue-500   
  color: #f5f3f3;

  &:hover {
    background-color: #5e8ea3; // blue-600   
  }
}

.secondary {
  background-color: #d1d5db; // gray-300   
  color: #1f2937; // gray-800    

  &:hover {
    background-color: #9ca3af; // gray-400   
  }
}

.small {
  background-color: transparent; // red-500     
  color: #666262;
  display: inline;
}

.danger {
  background-color: #ef4444; // red-500   
  color: #fff;

  &:hover {
    background-color: #dc2626; // red-600   
  }
}

.link {
  background-color: #1a62c1; // red-500   
  color: #fff;

  &:hover {
    background-color: #7091d8; // red-600   
  }
}



.full {
  background-color: #1dc11a; // red-500   
  color: #fff;
  width: 100%;

  &:hover {
    background-color: #116a1b; // red-600   
  }
}

.disabled {
  background-color: #9ca3af !important;
  cursor: not-allowed;
}

.loader {
  width: 1rem;
  height: 1rem;
  border: 2px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// Контейнер для категорій (якщо потрібно)
.categoriesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start;

  @media (max-width: 768px) {
    justify-content: center;
  }
}