.container {
  padding: 16px;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background 0.2s ease;

  &:hover {
    background: #f0f0f0;
  }
}

.arrow {
  margin-right: 8px;
  font-size: 12px;
}

.select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  margin: 1rem;

  &:focus {
    border-color: #6d747b;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }

  option {
    padding: 6px;
  }
}


/* CARUSEL */
.caruselBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
width: 100%;
padding: 40px 0 40px 0;
background-color: #e0e9f1;
/* Робимо краї прозоро-розмитими */
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;

  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.wrapper{
box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.categoryBox {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

  h3 {
    position: absolute;
    bottom: 10px; // відступ від верху
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    text-align: center;
    background: rgba(236, 236, 238, 0.9); 
    padding: 0;
    width: 50%;
    border: none;
  }
}
.imgBox {
      height: 250px;
  
 

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
        box-shadow: inset -1px 3px 8px 5px #fdfeff, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

 
  
 