.container {
  padding: 16px;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.subList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  transition: background 0.2s ease;

  &:hover {
    background: #f0f0f0;
  }
}

.arrow {
  margin-right: 8px;
  font-size: 12px;
}

.select {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  margin: 1rem;

  &:focus {
    border-color: #6d747b;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
  }

  option {
    padding: 6px;
  }
}


/* CARUSEL */
.caruselBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
width: 100%;
padding: 0px 0 40px 0;
}

.categoryBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;

  h3 {
    position: absolute;
    bottom: 10px; // відступ від верху
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    text-align: center;
    background: rgba(236, 236, 238, 0.3); 
    padding: 0;
    width: 50%;
    border: none;
  }
}
.imgBox {
      height: 250px;// 🔹 фіксована висота для всіх картинок (змінюй під себе)
 

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 🔹 обрізає картинку під контейнер
    // object-fit: contain; // 🔹 варіант, якщо хочеш без обрізання (з відступами)
  }
}

 
  
 