.submenu,
.subsubmenu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.submenu {
  margin-left: 0;
}

.subsubmenu {
  margin-left: 1.5rem;
  max-height: 0;
}

.subsubmenu.open {
  max-height: 1000px; // достатньо для показу всіх підкатегорій
}

.submenuItem {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categoryContainer {
  display: flex;
    flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  padding: 0.25rem 0.5rem;
  width: fit-content;

  &:hover {
    background: #f7f9fb;
  }
}

.categoryLink {
  font-weight: 500;
  font-size: 0.95rem;
  color: #222;
  text-decoration: none;

  &:hover {
    color: #0070f3;
  }
}

.btnLink{
  display: contents;
  width: 10px;
}

.spacer {
  width: 16px;
}