

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* Базова ширина для великих екранів */
  margin: 1rem;
  cursor: pointer;

  .imageWrapper {
    width: 90%;
    height: 280px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  .name {
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.25rem;
    color: #222;
  }

  .price {
    font-weight: 700;
    font-size: 1rem;
    color: #333;

    .priceSale {
      color: #e60023;
      margin-right: 0.5rem;
    }

    .priceOriginal {
      text-decoration: line-through;
      color: #999;
      font-weight: 400;
    }
  }

  .features {
    margin-top: 0.75rem;
    font-size: 0.9rem;
    color: #555;
    text-align: center;

    strong {
      color: #222;
    }
  }
}

.colorDots {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.3rem;
}

.colorDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: default;
}



/* Адаптивні стилі */
@media (max-width: 1024px) {

  /* Планшети */
  .card {
    width: 100%;
    margin: 0.75rem;
  }

  .imageWrapper {
    height: 220px;
    /* Зменшення висоти зображення */
  }

  .name {
    font-size: 1rem;
  }

  .price {
    font-size: 0.9rem;
  }

  .features {
    font-size: 0.85rem;
  }

  .colorDot {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 768px) {

  /* Великі мобільні пристрої */
  .card {
   
    margin: 0.5rem;
  }

  .imageWrapper {
    height: 180px;
  }

  .name {
    font-size: 0.95rem;
  }

  .price {
    font-size: 0.85rem;
  }

  .features {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .colorDot {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {

  /* Маленькі мобільні пристрої */
  .card {
    width: 100%;
    /* 1 карта в ряд */
    margin: 0.25rem 0;
  }

  .imageWrapper {
    height: 150px;
  }

  .name {
    font-size: 0.9rem;
  }

  .price {
    font-size: 0.8rem;
  }

  .features {
    font-size: 0.75rem;
    margin-top: 0.3rem;
  }

  .colorDot {
    width: 14px;
    height: 14px;
  }
}
.mainFont {
  font-size: 0.8rem !important;
}