.checkout {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);

  h1 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

.summary {
  margin-bottom: 20px;
  background-color: rgb(244, 247, 250);
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

  .item {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 0.95rem;
  }
}

.total {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.1rem;
}